.navbar-fixed-left {
    width: 150px;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
    float: none;  /* Cancel default li float: left */
    width: 149px;
}
.navbar-fixed-left + .container {
    padding-left: 120px;
}

#icon_evaluation_submit, #text_evauluation_submit {
    color: #2fb471
}
#cr_desc,#cr_faculty,#cr_fee,#cr_level,#cr_name,#cr_time {
    font-size: 17px;
    font-family: 'Book Antiqua', sans-serif;
}